html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header img {
    height: 60vw;
    width: 40vw;
    animation: slide-down 2s ease-out;
    
}

a{
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
}

.landing {
    background: linear-gradient(45deg, #F7A5A5, #531C2A);
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    background-size: 200% 200%;
    animation: gradient-flow 3.5s infinite ease-in-out;
    font-family: Poppins;
    
    flex-direction: column;
}

.welcome {
    text-align: center;
}

    .welcome h1,
    .welcome p,
    .welcome a{
        opacity: 0;
        animation: fadeIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }

    .welcome h1 {
        font-size: 4rem;
        color: white;
        margin-top: 0;
        animation-delay: 2s;
    }

    .welcome p {
        font-size: 2.5rem;
        color: white;
        margin-top: -10px;
        animation-delay: 3.5s;
        margin-bottom: 100px;
    }

    .welcome a {
        display: inline-block;
        padding: 14px 36px;
        border: none;
        border-radius: 50px;
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
        background: linear-gradient(135deg, #f76c6c, #cd2c58);
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(205, 44, 88, 0.3);
        animation-delay: 5s;
    }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.10;
    }

    20% {
        opacity: 0.20;
    }

    30% {
        opacity: 0.30;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.50;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.70;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.90;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-down{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
