body {
    width: 90vw;
    height: 100vh;
}

.landing {
    background: linear-gradient(45deg, #F7A5A5, #D90166);
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    background-size: 200% 200%;
    animation: gradient-flow 5s infinite;
    font-family: Poppins;
}


@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.welcome h1 {
    font-size: 3rem;
    color: white;

}

.welcome p {
    font-size: 1.5rem;
    color: white;
    margin-top: -10px;
    margin-bottom: 100px;

}

    .welcome a {
        display: inline-block;
        padding: 14px 36px;
        border: none;
        border-radius: 50px;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
        background: linear-gradient(135deg, #f76c6c, #cd2c58);
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(205, 44, 88, 0.3);
    }
    .welcome h1,
    .welcome p,
    .welcome a {
        opacity: 0;
        transform: translateY(25px);
        animation: fadeUp 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }

.welcome p {
    animation-delay: 1.5s;
}

.welcome a {
    animation-delay: 3s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.20;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}